body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}
.header {
  background-color: skyblue;
  color: white;
  height: 15vh;
  margin-top: -3vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 20vw;
  height: 80vh;
  background-color: white;
  border-radius: 2px solid white;
}
.cardList {
  display: flex;
  margin-top: 5vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.resim {
  width: 20vw;
  height: 30vh;
  object-fit: cover;
}
.coursemain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}